CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
.vscode/c_cpp_properties.json
.vscode/settings.json
.build/*
*.S
build/partition-table-flash_args
*.in
*.map
*.elf
*.bin
*.json
*.a
*.ld
*.ld
*.cmake
*.ninja
*.env
build/flash_project_args
build/flash_args
build/flash_bootloader_args
build/flash_app_args
build/ldgen_libraries
build/project_elf_src_esp32.c
build/esp-idf/mbedtls/x509_crt_bundle
build/config/sdkconfig.h
build/bootloader/project_elf_src_esp32.c
build/bootloader/config/sdkconfig.h
build/bootloader/.ninja_log
build/bootloader/.ninja_deps
build/bootloader/.bin_timestamp
build/bootloader-prefix/src/bootloader-stamp/bootloader-configure
build/bootloader-prefix/src/bootloader-stamp/bootloader-done
build/bootloader-prefix/src/bootloader-stamp/bootloader-download
build/bootloader-prefix/src/bootloader-stamp/bootloader-mkdir
build/bootloader-prefix/src/bootloader-stamp/bootloader-patch
build/bootloader-prefix/src/bootloader-stamp/bootloader-update
build/bootloader-prefix/tmp/bootloader-cfgcmd.txt
build/bootloader-prefix/src/bootloader-stamp/bootloader-install
build/.bin_timestamp
build/.ninja_deps
build/.ninja_log
build/app-flash_args
build/bootloader-flash_args
